:root{
  --background: #4a5a69;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  text-align: center;
  background: var(--background);
  min-height: 100vh;
  
  justify-content: center;
  justify-items: center;
	align-self:center;
	
}



